
#showcase{
    background-color:rgb(0, 0, 0);
    }
body{
    font-family: 'PT Sans' , sans-serif;
    background-color: #252529;
    margin: 0px;
    color: #fff;
    line-height: 1.6;
}
.pic{
    height: 200px;
    width:200px;
}
.pho{
    margin-top: 200px;
}
.faf{
    font-family: font-awesome;
}

.small-container{
    max-width: 1380px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.pho{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.col-4{
    flex-basis: 25%;
    padding: 50px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.slc{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    padding: 5px;
    border: 1px solid #ff523b;
}
select:focus{
    outline:none;
}
.page-btn{
    margin:0 40px 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #ffffff;
}
h4{
    color: #fff;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;
}
.checked{
    color:#ff523b;
}
.col-4:hover{
    transform: translateY(-50px);
}
nav{
    height: 40px;
    width: 100%;
    background-color: #333;
    color: rgb(51, 34, 34);
    position: fixed;
    
    
}
.container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}
footer .footer-cols ul{
    list-style: none;
}
footer .footer-cols ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 2px;
    margin-bottom: 1rem;
}
.footer-bottom{
    background-color: #333;
    padding: 1rem;
    text-align: center;
}
.cf{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 25vh;
}
a{
    text-decoration: none;
    color: #CCC;
}

#showcase{
    padding: 0;
    
    width: 100%;
    position: relative;
    overflow: hidden;
}

.linked{
    display: inline;
    float: left;
   
}
.linked:hover{
    background-color: rgb(147, 22, 22);
}
.anchor{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    color:#eee;
}